<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="4000000000" maxUrl="40960000" maxQueryString="819200000" />
			</requestFiltering>
		</security>	
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\N2K_BackboneBackEnd.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="RedirectToFront" />
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
<!--ProjectGuid: 640c45f3-150f-4dbf-adaf-a2f09f9701ef-->

